.container {
  max-width: 960px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}

.container {
  background-color: aliceblue;
  border-radius: 50px;
}

.container img {
  border-radius: 50%;
}

#out-logo {
  width: 30px;
  height: 30px;
}


/*my stuff*/
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  background-image: url("/images/shop.avif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#one {
  height: 100vh;
}

#two {
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

#three p {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 20vh;


}

.scroll-container,
.container-fluid {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.snap {
  scroll-snap-align: start;
}

.title h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.Bluey {
  display: flex;
  justify-content: center;
  height: 90vh;
  width: 100vw;
  font-weight: bolder;
  font-size: 3.5em;
}

.row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
  text-align: center;

}

.nav {
  display: flex;
  justify-content: center;
  position: relative;
  top: 0;
}

.nav-item {
  margin: 0 20px 10px 0;
  font-size: 1.5em;
  font-weight: 500;
}

#prod {
  padding-top: 7px;
  font-size: 1.5em;
}

#drop a {
  color: rgb(132, 151, 212);
}

a:link {
  text-decoration: none;
  color: rgb(209, 228, 245);
}

.meat {
  width: 35%;
  margin: 0 auto 0 auto;

}

.meat1 {
  text-align: center;
}

.meat2 {
  margin-top: 35px 20px 0 35px;
  text-align: center;
  font-size: larger;
}

.meat3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(233, 255, 249);
  text-align: center;
}

a:visited {
  color: rgb(209, 228, 245);
  /*color for h1 rgb(132, 151, 212)*/
}

#out-a a:visited {
  color: #88afee;
}

#out-a a {
  color: #88afee;
}

#out img {
  border-radius: 60%;
}