
#pass{
  margin-top: 5px;
}

.mb-4 {
  height: 20em;
  width: 20em;
  border-radius: 100px;
}

#me {
  color: rgb(139, 199, 252);
  text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

#in {
  color: rgb(139, 199, 252);
  font-weight: bolder;
  font-size: 35px;
  text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

#nav {
  margin-bottom: 10px;
}

header{
  margin-left: 120px;
}

/*styles to so i only have 1 css link in login*/
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

@media screen and (max-width: 844px) {
  h1{
    font-size: 30px !important;
  }
  body{
    height: 100%;
  }
  header{
    margin-left:0;
  }
}


body {
  background-image: url("/images/shop.avif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.snap {
  scroll-snap-align: start;
}

.title h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.Bluey {
  display: flex;
  justify-content: center;
  height: 90vh;
  width: 100vw;
  font-weight: bolder;
  font-size: 3.5em;
}

.nav {
  display: flex;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.nav-item {
  margin: 0 20px 10px 0;
  font-size: 1.5em;
  font-weight: 500;
}

#prod {
  padding-top: 7px;
  font-size: 1.5em;
}

#drop a {
  color: rgb(132, 151, 212);
}

a:link {
  text-decoration: none;
  color: rgb(209, 228, 245);
}

a:visited {
  color: rgb(209, 228, 245);
  /*color for h1 rgb(132, 151, 212)*/
}

#out img {
  border-radius: 60%;
}