article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

@media screen and (max-width: 844px) {
    .meat1{
        display:none;
    }
    #team{
        display:none;
    }
    #about {
      display:none;
      margin: 0 0 0 0 !important;
    }
    .nav{
        margin-left: 0 !important;
        font-size: 15px;
    }
}

#team{
    display: flex;
    flex-direction: column;
    align-self:flex-start;
    margin-top:10em;
}

header{
    margin-left: 120px;
}

body {
    background-image: url("/images/shop.avif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
}

.meat{
    border: 5px solid rgb(0, 0, 0);
}

#one {
    height: 100vh;
}

#two {
    background-color: rgb(248, 252, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#three{
    height: fit-content;
}

#three p {
    display: flex;
    flex-grow: 1;
    margin:0 0 0 0;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 20vh;


}

.scroll-container,.container-fluid {
    height: 95vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.snap {
    scroll-snap-align: start;
}

.title h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

#Budi h1 {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: 3.5em;
}

#Budi p{
    display: flex;
    align-content: center;
    justify-content: center;
    font-weight: 650;
    margin: 55px 400px 0 400px;
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;


}

#Budi li{
    display: inline;
    font-weight: 650;
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

#list-inline-item{
    margin-left: 575px;
}

.row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
    text-align: center;
    padding: 0 10px 0 10px;

}

#mis{
    padding-top:5px;
}

.nav {
    display: flex;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.nav-item {
    margin: 0 20px 10px 0;
    font-size: 1.5em;
    font-weight: 500;
}

#prod {
    padding-top: 7px;
    font-size: 1.5em;
}

#drop a {
    color: rgb(132, 151, 212);
}

a:link {
    text-decoration: none;
    color: rgb(209, 228, 245);
}

.meat {
    width: 35%;
    margin: 0 auto 0 21.3em;

}

.meat1 {
    text-align: center;
}

.meat2 {
    margin-top: 35px 20px 0 35px;
    text-align: center;
    font-size: larger;
}

.meat3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(233, 255, 249);
    text-align: center;
}

a:visited {
    color: rgb(209, 228, 245);
    /*color for h1 rgb(132, 151, 212)*/
}

#out img {
    border-radius: 60%;
}