article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
body{
    background-image: url("/images/shop.avif");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;

}
h1{
    text-align: center;
    font-weight: bolder;
    font-size: 3.5em;
}
img{
    width:300px;
    height:1px;
}
.row{
    display:flex;
    justify-content: flex-start;
    align-items:flex-start;
    width:100vw;
    flex:1 1 100vw;
    margin-top: 18px;
    text-align: center;
    
}
#prod{
    padding-top:7px;
    font-size:1.5em;
  }
#drop a{
    color: rgb(132, 151, 212);
}
.nav{
    display:flex;
    justify-content: center;
    position:-webkit-sticky;
    position:sticky;
    top: 0;
}
.nav-item{
    margin:0 20px 10px 0;
    font-size: 1.5em;
    font-weight: 500;
}
a:link{
    text-decoration: none;
    color:rgb(209, 228, 245);
}
a:visited{
    color:rgb(209, 228, 245);
}
.pro{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2em
}
figcaption{
    background-color: antiquewhite;
}
lt{
    font-weight: bold;
    font-size: larger;
}